@font-face {
  font-family: 'Quicksand';
  src: url('./fonts/Quicksand-Light.ttf');
}
body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  color:black;
  background: linear-gradient(to right,#22C1C3,#D3BC4A);
  margin: 0; 
 
    
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}  



